* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: calc(1108px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

/*------------------------------------------------header------------------------------------------------*/

.main-page {
  background-color: #e2e2e2;
  text-align: center;
  box-shadow: 5px 5px 15px #00000080;
}

.main-page h1 {
  font-size: 1.5rem;
  line-height: 2.2;
}

/*------------------------------------------------header------------------------------------------------*/
/*-------------------------------------------------main-------------------------------------------------*/
