* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: calc(1108px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

/*------------------------------------------------header------------------------------------------------*/

/*----------------------------general menu styles----------------------------*/
.bg-menu {
  background-color: #e2e2e2;
}

.header ul {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2.5;
  letter-spacing: 0.05em;
}

.header li a {
  padding: 0 1rem;
}

.header li:hover {
  background-color: #ffc73aae;
}
/*----------------------------general menu styles-----------------------------*/
/*------------------------------nav menu styles-------------------------------*/
.main-menu > .parent-variant {
  display: inline-block;
}

.main-menu > .parent-variant:not(:first-child) {
  margin-left: 1.5rem;
}

.parent-variant {
  position: relative;
}

.child-menu {
  display: none;
}

.parent-variant:hover > .child-menu {
  display: block;
  min-width: 11rem;
  position: absolute;
}

.main-menu > .parent-variant > .child-menu {
  top: 100%;
}

.child-menu > .parent-variant > .child-menu {
  left: 100%;
  top: 0%;
}
/*------------------------------nav menu styles-------------------------------*/
/*------------------------------------------------header------------------------------------------------*/
/*-------------------------------------------------main-------------------------------------------------*/
