* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: calc(1108px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*------------------------------------------------header------------------------------------------------*/

.main-title {
  font-size: 1.5rem;
  line-height: 2.2;
  background-color: #e2e2e2;
  text-align: center;
  box-shadow: 5px 5px 15px #00000080;
}

/*------------------------------------------------header------------------------------------------------*/
/*-------------------------------------------------main-------------------------------------------------*/

.calendar {
  border: 1px solid #333333;
  margin: 2rem auto;
}

.caption-of-table {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.month {
  width: 50%;
  border: 1px solid #333333;
}

.month table {
  width: 100%;
  text-align: center;
}

.month th,
td {
  padding: 0.25rem;
}

.first-column {
  background-color: yellow;
}
