@media (min-width: 768px) {
  .main {
    padding: 65px 0 0;
  }
  .container {
    padding: 0 60px;
  }
  .container-secondary {
    padding: 0;
  }
  .facebook:hover svg path {
    fill: var(--accent-color);
  }
  .typical-link:hover {
    color: var(--accent-color);
  }
  .main-title {
    font-size: 2.375rem;
    line-height: 2.875rem;
  }
  .blue-btn:hover {
    background-color: var(--active-hover-color);
  }
  /*------------------------------------------------header------------------------------------------------*/
  .header .container {
    grid-template-areas:
      "lang-contact"
      "logo"
      "menu";
  }
  .separator,
  .header .lang-contact .address,
  .header .lang-contact .facebook {
    display: block;
  }
  .header .lang-contact .separator {
    background-color: var(--grey-separator-color);
  }
  .header .lang-contact {
    justify-content: flex-start;
    gap: 6px;
    padding: 50px 0 15px;
    background-color: transparent;
    margin: 0;
  }
  .header .lang-contact .lang-switcher .lang:hover {
    background-color: var(--grey-bg-color);
  }
  .header .logo {
    padding: 15px 0 30px;
  }
  .header .logo .main-part {
    width: 130px;
    height: 60px;
  }
  .header .logo .slash {
    width: 21px;
    height: 47px;
  }
  .header .logo .active-page {
    font-size: 2.25rem;
  }
  .header .menu {
    padding: 0;
    justify-content: flex-start;
  }
  .header .menu .burger-checkbox,
  .header .menu .burger,
  .header .menu .bg-menu {
    display: none;
  }
  .header .menu .nav,
  .header .menu .nav-wrap,
  .header .menu .nav-link {
    all: unset;
  }
  .header .menu .nav-wrap {
    display: flex;
    gap: 15px;
  }
  .header .menu .nav-link {
    position: relative;
  }
  .header .menu .nav-link::after {
    position: absolute;
    width: 0;
    top: 23px;
    left: 50%;
    content: "";
    display: block;
    height: 2px;
    background-color: var(--active-regular-color);
    transition: 0.2s linear all;
  }
  .header .menu .nav-link:hover:after {
    width: 100%;
    left: 0;
  }
  .header .menu .nav-link.active::after {
    background-color: var(--accent-color);
    width: 100%;
    left: 0;
  }
  /*------------------------------------------------header------------------------------------------------*/

  /*------------------------------------------------footer------------------------------------------------*/
  .footer .separator {
    background-color: var(--grey-text-color);
  }
  .footer .address-contact {
    flex-direction: row;
    align-items: center;
  }
  .footer .container {
    width: max-content;
    margin: 0 auto;
  }
  /*------------------------------------------------footer------------------------------------------------*/
}

@media (min-width: 1024px) {
  .container-secondary {
    padding: 0px calc((100% - 1080px) / 2);
  }

  /*------------------------------------------------header------------------------------------------------*/
  .header .container {
    grid-template-areas:
      "logo lang-contact"
      "logo menu";
  }
  .header .lang-contact {
    padding: 50px 0 16px;
    justify-content: flex-end;
  }
  .header .logo {
    padding: 50px 0 1px;
  }
  .header .menu {
    justify-content: flex-end;
  }
  /*------------------------------------------------header------------------------------------------------*/

  /*------------------------------------------------footer------------------------------------------------*/
  .footer .container {
    grid-template-areas:
      "address-part copyright-part"
      "contact-part copyright-part";
    gap: 21px;
    width: 100%;
  }
  .footer .copyright-part {
    margin-top: 0;
    align-items: flex-end;
  }
  /*------------------------------------------------footer------------------------------------------------*/
}

@media (min-width: 1440px) {
  .container {
    padding: 0 clamp(60px, calc((100% - 1600px) / 2), 160px);
  }
  .container-secondary {
    padding: 0px 120px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    margin: 0 auto;
  }
}
