@import url(../general-style.css/library.css);
@import url(../general-style.css/light-template.css);

/*-------------------------------------------------team-------------------------------------------------*/
.team-section .main-title {
  margin: 0 0 30px;
}

.team-section .card-wrap {
  gap: 30px;
  margin: 0 auto 60px;
  padding: 0 15px;
  max-width: fit-content;
}

.team-section .nav-card .photo {
  aspect-ratio: 1.05/1;
  max-height: 400px;
  object-fit: cover;
}

.team-section .text-wrap .title-card {
  margin-bottom: 5px;
}

.team-section .btn {
  border-radius: 50%;
}
/*-------------------------------------------------team-------------------------------------------------*/
