@import url(../general-style.css/library.css);
@import url(../general-style.css/light-template.css);

/*--------------------------------------------team-entry------------------------------------------------*/
.colleague-section .container-secondary {
  margin-bottom: 30px;
}

.colleague-section .photo {
  object-fit: cover;
  height: 375px;
  margin: 0 auto;
}

.colleague-section .main-info {
  margin: 0 auto;
}

.colleague-section .main-info .name {
  font-size: 2.375rem;
  line-height: 2.875rem;
  margin-bottom: 15px;
}

.colleague-section .main-info .mail {
  word-break: break-all;
}
/*--------------------------------------------team-entry-----------------------------------------------*/
