@import url(../general-style.css/light-template-media.css);

@media (min-width: 768px) {
  /*-----------------------------------------------contact------------------------------------------------*/
  .contact-section .container-secondary {
    gap: 60px;
    margin-bottom: 60px;
  }

  .facebook:hover .facebook-link {
    color: var(--accent-color);
  }
  /*-----------------------------------------------contact------------------------------------------------*/
}

@media (min-width: 1024px) {
  /*-----------------------------------------------contact------------------------------------------------*/
  .contact-section .container-secondary {
    grid-template-columns: repeat(2, 1fr);
  }
  /*-----------------------------------------------contact------------------------------------------------*/
}
