@import url(../general-style.css/library.css);
@import url(../general-style.css/light-template.css);
@import url(../general-style.css/form.css);

/*-----------------------------------------------contact------------------------------------------------*/
.contact-section .container-secondary {
  gap: 30px;
  margin-bottom: 30px;
}

.contact-section .contact-part {
  font-size: 1.3125rem;
  line-height: 1.875rem;
}

.contact-section .contact-part .mail {
  word-break: break-all;
  max-width: max-content;
}

.contact-section .contact-part .facebook {
  max-width: max-content;
}

.contact-section .contact-part .facebook-link {
  line-height: 1rem;
  margin-bottom: 1px;
}
/*-----------------------------------------------contact------------------------------------------------*/
