@font-face {
  font-family: "OpenSans";
  src: url(./OpenSans-Regular.woff2) format("woff2"),
    url(./OpenSans-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url(./OpenSans-Bold.woff2) format("woff2"),
    url(./OpenSans-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url(./Poppins-Regular.woff2) format("woff2"),
    url(./Poppins-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(./Poppins-Bold.woff2) format("woff2"),
    url(./Poppins-Bold.woff) format("woff");
  font-weight: 700;
}
